<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CSS-Test</title>
  <style>
    body {
      font-family: Arial;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>
